.mobilNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media (min-width: 481px) {
    gap: 40px;
  }

  @media (min-width: 993px) {
    display: none;
  }

  &__search,
  &__login,
  &__account,
  &__basket {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    background-color: transparent;
  }

  //   &__login {

  //   }

  //   &__account {

  //   }

  //   &__basket {

  //   }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    gap: 6px;

    &::after,
    &::before {
      position: relative;
      width: 100%;
      height: 3px;
      transition: all .3s ease 0s;
      border-radius: 5px;
      background-color: #202025;
      content: '';
    }

    &::after {
      width: 75%;
      margin-right: auto;
    }

    &.active {
      &::before,
      &::after {
        background-color: #f7fbfa;
        z-index: 17;
      }

      &::before {
        top: 25%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        bottom: 20%;
        width: 100%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
}