.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;

  & :last-child {
    border: none;
    font-size: 20px;
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  transition: all .3s ease;
  border: solid 1px #202025;
  border-radius: 30%;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;

  &.active,
  :hover {
    transition: all .3s ease;
    background-color: #202025;
    color: #fff;
  }

  &.disabled {
    background-color: transparent !important;
    color: #202025;
    cursor: not-allowed;
  }

  &:first-child {
    border: none;
    font-size: 20px;
  }
}
