@import '../../styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 rem(20);
  background-color: #f7fbfa;
  font-family: 'Inter', sans-serif;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(24);
    margin-bottom: rem(24);

    & h2 {
      font-size: rem(48);
      font-weight: 800;
    }
  }
}

@media (min-width: rem(768)) {
  .products {
    &__wrapper {
      display: grid;
      justify-content: center;
      width: 100%;
      margin: 0 rem(20);
      column-gap: rem(20);
      overflow: hidden;
      place-items: center;
      grid-template-columns: repeat(auto-fill, minmax(rem(220), 1fr));
      grid-template-rows: auto;
    }
  }
}

@media (min-width: rem(1024)) {
  .products {
    &__wrapper {
      column-gap: 0;
      grid-template-columns: repeat(auto-fill, minmax(rem(220), 1fr));
    }
  }
}

@media (min-width: rem(1140)) {
  .products {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
    }
  }
}

@media (min-width: rem(1290)) {
  .products {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
    }
  }
}

@media (min-width: rem(1490)) {
  .products {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(rem(330), 1fr));
    }
  }
}
