* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;
  background-color: #f7fbfa;
  font-family: 'Inter', sans-serif;

  &__wrapper {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    display: grid;
    justify-content: space-around;
    width: 100%;
    // margin: 0 20px;
    gap: 1rem;
    // overflow: hidden;
    place-items: center;
    grid-template-columns: repeat(auto-fill, 280px);
    // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: auto;
    box-sizing: border-box;
    // margin: 0 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;

    & h2 {
      font-size: 48px;
      font-weight: 800;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

// @media (min-width: 768px) {
//   .products {
//     &__wrapper {
//       display: grid;
//       justify-content: space-around;
//       width: 100%;
//       // margin: 0 20px;
//       gap: 20px;
//       // overflow: hidden;
//       place-items: center;
//       grid-template-columns: repeat(auto-fill, 250px);
//       // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//       grid-template-rows: auto;
//     }
//   }
// }

// @media (min-width: 1140px) {
//   .products {
//     &__wrapper {
//       grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     }
//   }
// }

// @media (min-width: 1290px) {
//   .products {
//     &__wrapper {
//       grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
//     }
//   }
// }

// @media (min-width: 1490px) {
//   .products {
//     &__wrapper {
//       grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
//     }
//   }
// }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: .5rem;
  user-select: none;

  & :last-child {
    border: none;
    font-size: 20px;
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    transition: all .3s ease;
    border: solid 1px #202025;
    border-radius: 30%;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;

    &_active {
      transition: all .3s ease;
      background-color: #202025;
      color: #fff;
    }

    &_disabled {
      background-color: transparent !important;
      color: #202025;
      cursor: not-allowed;
    }

    &:first-child {
      border: none;
      font-size: 20px;
    }

    &:first-child svg {
      transform: rotate(180deg);
    }
  }
}

.productListInAuthor {
  padding: 1rem 1rem 2rem;
  background-color: black;
}

.productListAdmin {
  display: flex;
  flex-direction: column;
  background-color: white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}