.authorization {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Inter', sans-serif;
  max-width: 1470px;
  margin: 2rem auto;
  padding: 0 15px;
  box-sizing: border-box;
  
  &__switcher {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    align-items: start;
    flex-direction: row;
    
    &__switcher {
      flex-direction: column;
    }
  }
}

.switcher {

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: .7rem 2rem;
    transition: color .3s;
    border: 2px solid #202025;
    border-radius: 4px;
    background: transparent;
    color: #202025;
    font-size: .75rem;
    font-weight: 800;
    letter-spacing: .17em;
    line-height: 24px;
    text-transform: uppercase;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 8px rgba(0, 0, 0, .05);
    cursor: pointer;
    overflow: hidden;

    @media (min-width: 768px) {
      width: max-content;
    }

    &::after {
      position: absolute;
      top: 100%;
      width: 50%;
      height: 50%;
      transition: all .3s;
      border-radius: 50%;
      content: '';
      z-index: -1;
    }

    &:hover {
      &::after {
        top: -50%;
        width: 200%;
        height: 200%;
      }
    }

    &::before {
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      background-color: #f7fbfa;
      content: '';
      z-index: -1;
    }

    &::after {
      background-color: #202025;
      z-index: -1;
    }

    &:hover {
      color: #f7fbfa;
    }
  }
}