.authorization {
  display: flex;
  flex-direction: column;
  max-width: 1470px;
  margin: 2rem auto;
  padding: 0 15px;
  font-family: 'Inter', sans-serif;
  gap: 2rem;
  box-sizing: border-box;

  &__greating {
    flex: 1 0 35%;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: start;
  }
}