.authorList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
  font-family: Inter;

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 128px;
    margin-bottom: 37px;
    margin-left: 40px;

    & h2 {
      font-size: 48px;
      font-weight: 800;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 50%));
    grid-template-rows: auto;
  }
}

@media (min-width: 768px) {
  .authorList {
    &__wrapper {
      padding: 0 40px;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
  }
}

@media (min-width: 1140px) {
  .authorList {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
  }
}

@media (min-width: 1290px) {
  .authorList {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
  }
}

@media (min-width: 1290px) {
  .authorList {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
  }
}
