.authorList {
  margin-bottom: 60px;
  font-family: Inter;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 480px) {
  .authorList {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, 50%);
      grid-template-rows: auto;
    }
  }
}

@media (min-width: 768px) {
  .authorList {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, 33.33%);
    }
  }
}

@media (min-width: 1024px) {
  .authorList {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, 25%);
    }
  }
}