* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.productCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 93%;
  margin-top: 20px;
  padding: 0 15px;
  transition: .2s ease;
  border-radius: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  &__name {
    position: absolute;
    bottom: 170px;
    left: 30px;
    max-width: 85%;
    transform: translateY(45px);
    transition: .2s;
    color: #f7fbfa;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    opacity: 0;
    z-index: 7;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &:hover {
    transform: scale(1.03);
    transition: .2s ease;
    background-color: #202025;
  }

  &:hover .productCard__priceInfo_buyNow {
    & p {
      color: #f7fbfa;
    }

    & svg {
      fill: #fff;
    }
  }

  &:hover .productCard__priceInfo_button {
    border: 1px solid #f7fbfa;
    background-color: #f7fbfa;
    color: #202025;

    &:hover {
      color: #fff;
    }
  }

  &:hover .productCard__userInfo_author {
    color: #d2d2d2;
  }

  &:hover .productCard__name {
    transform: translateY(0);
    transition: .2s;
    opacity: 1;
  }

  &:hover .productCard__userInfo::before {
    position: absolute;
    bottom: 58px;
    width: 100%;
    height: 100px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, .744), transparent);
    content: '';
    z-index: 6;
    pointer-events: none;
  }

  &__img {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 18px;
    border-radius: 7%;
    cursor: pointer;
    z-index: 4;
  }

  &__userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 18px;
    margin-bottom: 33px;

    &::after {
      position: absolute;
      top: 55px;
      width: 100%;
      height: 1px;
      background-color: #e1e2e2;
      content: '';
    }

    &_items {
      display: flex;
      align-items: center;
    }

    &_userIcon {
      max-width: 40px;
      max-height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    &_author {
      color: #5d5d5d;
      font-size: 20px;
    }

    &_verifiedIcon {
      max-width: 24px;
      max-height: 24px;
    }
  }

  &__priceInAuthor {
    color: #dbff73 !important;
  }

  &__priceInfo {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 100%;
    margin-bottom: 24px;

    &_cartButton {
      background-color: #f7fbfa !important;
      color: #202025 !important;

      &:hover {
        color: #f7fbfa !important;

        & svg {
          & path {
            stroke: #f7fbfa;
          }
        }
      }

      & svg {
        width: 20px;
        height: 17px;
        margin-left: 5px;
      }
    }

    &_button {
      display: flex;
      align-items: center;
      position: relative;
      padding: 7px 35px;
      transition: .3s;
      border: 1px solid #202025;
      border-radius: 50px;
      background-color: #202025;
      color: #f7fbfa;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;

      & svg {
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }

      &::after {
        position: absolute;
        top: 100%;
        left: -20%;
        width: 150%;
        height: 50%;
        transition: all .3s;
        border-radius: 50%;
        content: '';
        z-index: -1;
      }

      &::before {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 150%;
        height: 150%;
        content: '';
        z-index: -1;
      }

      &::after {
        background-color: #202025;
        z-index: -1;
      }

      &:hover {
        color: #202025;
      }

      &:hover {
        &::after {
          top: -50%;
          width: 150%;
          height: 200%;
        }
      }
    }

    &_buyNow {
      display: flex;
      align-items: center;

      & svg {
        min-width: 20px;
        min-height: 20px;
      }

      & p {
        color: #202025;
        font-size: 20px;
        line-height: 32px;

        & span {
          font-weight: 400;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .productCard {
    // margin-bottom: 32px;
    padding: 0 10px;

    &:hover {
      border-radius: 20px;
    }

    &:hover .productCard__userInfo::before {
      bottom: 64px;
      width: 100%;
      border-radius: 0 0 13px 13px;
    }

    &__img {
      margin-top: 10px;
    }

    &__name {
      bottom: 160px;
      left: 20px;
      font-size: 20px;
    }

    &__userInfo {
      align-items: center;
      margin-top: 24px;

      &_author {
        font-size: 12px;
      }

      &_inAuthor {
        color: #f7fbfa;
      }
    }

    &__priceInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      min-width: 100%;

      &_button {
        padding: 7px 25px;
        font-size: 10px;
      }

      &_buyNow {
        & img {
          max-width: 13px;
          max-height: 13px;
        }

        & p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .productCard {
    padding: 0 10px;

    &:hover {
      border-radius: 20px;
    }

    &__img {
      margin-top: 10px;
    }

    &__name {
      left: 20px;
      font-size: 20px;
    }

    &:hover .productCard__userInfo::before {
      bottom: 64px;
      width: 100%;
      border-radius: 0 0 14px 14px;
    }

    &__userInfo {
      margin-top: 24px;

      &_author {
        font-size: 15px;
      }
    }

    &__priceInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      min-width: 100%;

      &_button {
        padding: 8px 25px;
        font-size: 12px;
      }

      &_buyNow {
        & img {
          max-width: 20px;
          max-height: 20px;
        }

        & p {
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .productCard {
    padding: 0 15px;

    &:hover {
      border-radius: 25px;
    }

    &__img {
      margin-top: 15px;
    }

    &__name {
      bottom: 180px;
      left: 30px;
      font-size: 23px;
    }

    &:hover .productCard__userInfo::before {
      border-radius: 0 0 21px 21px;
    }

    &__userInfo {
      &_author {
        font-size: 20px;
      }
    }

    &__priceInfo {
      display: flex;
      justify-content: space-between;
      position: relative;
      min-width: 100%;

      &_button {
        padding: 10px 40px;
        font-size: 14px;
      }

      &_buyNow {
        & img {
          max-width: 20px;
          max-height: 20px;
        }

        & p {
          font-size: 20px;
        }
      }
    }
  }
}
