.makeOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  box-shadow: -1px 1px 10px 10px rgba(185, 183, 183, .13);

  &__slogan {
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #202025;
  }
}

.btnBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 30px auto 0;
  padding: .7rem 2rem;
  transition: color .3s;
  border: 2px solid #202025;
  border-radius: 4px;
  background: transparent;
  color: #202025;
  font-size: .75rem;
  font-weight: 800;
  letter-spacing: .17em;
  line-height: 24px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px 8px rgba(0, 0, 0, .05);
  cursor: pointer;
  overflow: hidden;
  z-index: 13;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: max-content;
  }

  &::after {
    position: absolute;
    top: 100%;
    width: 50%;
    height: 50%;
    transition: all .3s;
    border-radius: 50%;
    content: '';
    z-index: -1;
  }

  &:hover {
    &::after {
      top: -50%;
      width: 200%;
      height: 200%;
    }
  }

  &::before {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-color: #f7fbfa;
    content: '';
    z-index: -1;
  }

  &::after {
    background-color: #202025;
    z-index: -1;
  }

  &:hover {
    color: #f7fbfa;
  }
}

.block {
  &__title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__summeryPriceValue {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

@media (min-width: 420px) {
  .makeOrder {
    &__btnBuy {
      width: 70%;
      margin: 40px 0 30px;
      padding: 20px 5px;
    }
  }

  .block {
    &__title {
      font-size: 16px;
    }

    &__summeryPriceValue {
      font-size: 25px;
    }
  }
}

@media (min-width: 500px) {
  .makeOrder {
    padding: 20px;

    &__slogan {
      padding-bottom: 70px;
    }

    &__btnBuy {
      width: 80%;
      margin: 40px 0 30px;
      padding: 20px 5px;
    }
  }

  .block {
    &__title {
      font-size: 22px;
    }

    &__summeryPriceValue {
      font-size: 25px;
    }
  }
}

@media (min-width: 650px) {
  .makeOrder {
    padding: 20px 30px;

    &__slogan {
      padding-bottom: 80px;
    }

    &__btnBuy {
      margin: 40px 0 30px;
    }
  }

  .block {
    &__title {
      font-size: 20px;
    }

    &__summeryPriceValue {
      font-size: 30px;
      font-weight: 700;
    }
  }
}

@media (min-width: 800px) {
  .makeOrder {
    width: 70%;
    padding: 40px 30px;

    &__slogan {
      padding-bottom: 60px;
      font-size: 20px;
    }
  }

  .block {
    &__title {
      font-size: 17px;
    }

    &__summeryPriceValue {
      font-size: 18px;
    }
  }
}

@media (min-width: 1200px) {
  .makeOrder {
    padding: 30px 20px;

    &__btnBuy {
      width: 80%;
      margin: 50px 0 10px;
    }
  }

  .block {
    padding: 0 10px;

    &__title {
      font-size: 22px;
    }

    &__summeryPriceValue {
      font-size: 25px;
    }
  }
}