html:has(.productDetails),
body:has(.productDetails) {
  height: 100%;
}

.productDetails {
  height: 100%;
  background-color: #f1f4f4;
  font-family: 'Inter', sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1470px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}