.authorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  border: 1px solid #e1e2e2;
  background-color: #f1f4f4;
  font-family: Inter;
  cursor: pointer;

  &:hover {
    background-color: #f7fbfa;
    box-shadow: 0 62px 48px -16px rgba(0, 0, 0, .1);
    z-index: 1;

    & .authorCard__image {
      border: 1px solid #e1e2e2;
    }

    & .authorCard__number {
      & span {
        color: #fff;
      }

      &_svg {
        & path {
          transition: all .2s;
          fill: #202025;
        }
      }
    }
  }

  &__image {
    max-width: 200px;
    height: auto;
    margin: 15px 0;
    padding: 20px;
    transition: all .4s ease;
    border: 1px solid #f1f4f4;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    align-self: flex-end;
    position: relative;
    margin: 15px 10px 0 0;

    & span {
      display: flex;
      justify-content: center;
      width: 30px;
      color: #202025;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      z-index: 1;
    }

    &_svg {
      display: flex;
      align-self: flex-end;
      position: absolute;
      top: -8px;
      right: -11px;
      z-index: 0;

      path {
        transition: all .2s;
        fill: #f7fbfa;
      }
    }
  }

  &__name {
    margin-bottom: 35px;
    color: #202025;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    z-index: 1;
  }
}
