* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.helpCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;


    &__content {
        width: 100%;
    }

    &__cubeBlock {
        position: relative;
        height: 520px;
        background-color: #B9A9FB;
        padding: 40px 24px;
        z-index: 0;
    }

    h2 {
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        letter-spacing: -0.8px;
        width: 226px;
    }

    img {
        width: 458px;
        transform: translateX(-23%) translateY(-12%);
    }

    &__infoBlockList {
       position: relative;
       z-index: 1;
       padding: 0 24px 40px;
    }

    &__infoBlock {
        border-bottom: 1px solid #E1E2E2;
    }

    &__blockButton {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        border: none;
        color: #202025;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: -0.64px;
        cursor: pointer;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    // span {
    //     margin-top: 7px;
    // }

    &__active {
        padding-bottom: 40px;
    }

    &__list {
        list-style-type: none;
    }

    &__blockButtonItem {
        position: relative;
        width: 100%;
        background-color: transparent;
        border: none;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: #686A6C;
        margin-bottom: 24px;
        cursor: pointer;
    }

    &__blockButtonItemTitle {
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__activeItem p {
        text-align: left;
        font-weight: 400;
        margin-left: 40px;
    }

    &__list span:hover {
        color: #202025;
    }

    &__list li svg {
        margin-top: 8px;
        margin-right: 16px;
    }

    &__list li:last-child {
        margin-bottom: 48px;
    }
}

@media (min-width: 1140px) {
    .helpCenter {
        &__content {
            display: flex;
        }

        &__cubeBlockWrap {
            position: relative;
            width: 50%;
        }

        &__cubeBlockWrap::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #B9A9FB;
        }

        &__cubeBlock {
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: hidden;
            padding: 40px 40px;
        }

        &__infoBlockList {
            width: 50%;
            overflow: hidden;
        }

        h2 {
            font-size: 64px;
            font-style: normal;
            font-weight: 800;
            line-height: 64px;
            letter-spacing: -1.28px;
            width: 360px;
        }

        img {
            width: 532px;
            transform: translateX(-23%) translateY(-6%);
        }
    }
}

@media (min-width: 1440px) {
    .helpCenter {
        &__cubeBlock {
            padding: 64px;
        }

        h2 {
            font-size: 80px;
            font-style: normal;
            font-weight: 800;
            line-height: 80px;
            letter-spacing: -1.6px;
            width: 519px;
        }

        img {
            width: 620px;
            transform: translateX(-23%) translateY(-9%);
        }
    }
}
