* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.helpCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;


    &__content {
        width: 100%;
    }

    &__cubeBlock {
        position: relative;
        height: 520px;
        background-color: #B9A9FB;
        padding: 40px 24px;
        z-index: 0;
    }

    h2 {
        font-size: 40px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        letter-spacing: -0.8px;
        width: 226px;
    }

    img {
        width: 458px;
        transform: translateX(-23%) translateY(-12%);
    }

    &__infoBlockList {
       position: relative;
       z-index: 1;
       padding: 0 24px 40px;
    }

    &__infoBlock {
        border-bottom: 1px solid #E1E2E2;
    }

    &__blockButton {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        border: none;
        color: #202025;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: -0.64px;
        cursor: pointer;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    span {
        margin-top: 7px;
    }

    &__active {
        padding-bottom: 40px;
    }

    &__list {
        list-style-type: none;
    }

    &__list li {
        position: relative;
        display: flex;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: #686A6C;
        margin-bottom: 24px;
    }

    &__list li svg {
        margin-top: 8px;
        margin-right: 16px;
        width: 24px;
        height: 24px;
    }

    &__list li:last-child {
        margin-bottom: 48px;
    }
}
