.helpCenter {
  height: 100%;
  font-family: 'Inter', sans-serif;

  &__container {
    max-width: 1470px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__content {
    width: 100%;
  }

  &__cubeBlock {
    position: relative;
    padding: 40px 24px 0;
    background-color: #b9a9fb;
    z-index: 0;
  }

  h2 {
    width: 226px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -.8px;
    line-height: 48px;
  }

  img {
    position: relative;
    top: -50px;
    left: -50px;
    width: 270px;
  }

  &__infoBlockList {
    position: relative;
    padding: 0 24px 40px;
    z-index: 1;
  }

  &__infoBlock {
    border-bottom: 1px solid #e1e2e2;
  }

  &__blockButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    border: none;
    background-color: transparent;
    color: #202025;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -.64px;
    line-height: 40px;
    cursor: pointer;
  }

  &__list {
    list-style-type: none;
  }

  &__active {
    padding-bottom: 40px;
  }

  &__blockButtonItem {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    border: none;
    background-color: transparent;
    color: #686a6c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: 32px;
    cursor: pointer;
  }

  &__blockButtonItemTitle {
    display: flex;
    align-items: center;
    text-align: left;
  }

  &__activeItem p {
    margin-left: 40px;
    font-weight: 400;
    text-align: left;
  }

  &__list span:hover {
    color: #202025;
  }

  &__list li svg {
    margin-top: 8px;
    margin-right: 16px;
  }

  &__list li:last-child {
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .helpCenter {
    &__content {
      display: flex;
    }

    img {
      position: static;
    }
  }
}

@media (min-width: 768px) {
  .helpCenter {
    background: linear-gradient(270deg, transparent 50%, #b9a9fb 50%);

    &__content {
      display: flex;
    }

    &__cubeBlockWrap {
      width: 50%;
    }

    &__cubeBlock {
      position: sticky;
      top: 80px;
      padding: 40px;
    }

    &__infoBlockList {
      width: 50%;
    }

    h2 {
      width: 360px;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: -1.28px;
      line-height: 64px;
    }
  }
}

@media (min-width: 1440px) {
  .helpCenter {
    &__cubeBlock {
      padding: 64px;
    }

    h2 {
      width: 519px;
      font-size: 80px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: -1.6px;
      line-height: 80px;
    }

    img {
      width: 620px;
      transform: translateX(-23%) translateY(-9%);
    }
  }
}