@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: revert;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  color: #202025;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 200%;
  text-transform: uppercase;
  z-index: 10;

  &__wrapper {
    padding: 15px 0;
    transition: all .4s ease-out;
    background-color: rgb(247, 251, 250);
  }

  &__scrolled {
    padding: 0;
    background-color: rgb(247, 251, 250, .8);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 320px;
    max-width: 1470px;
    margin: 0 auto;
    padding: 5px 15px;
  }

  &__section {
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    justify-content: space-between;
    //  margin-right: 40px;

    @media (min-width: 993px) {
      flex: 0 1 50%;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    display: none;

    @media (min-width: 481px) {
      display: block;
      margin-left: 12px;
      color: #010101;
      font-size: 24px;
      font-weight: 900;
      line-height: 167%;
      text-decoration: none;
    }
  }

  &__search {
    margin-left: 10px;
  }
}

.search {
  display: flex;
  align-items: center;

  &__form {
    display: flex;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    width: 98%;
    padding: 5px;
    transition: all .4s ease-out;
    border: 1px solid #f7fbfa;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;

    @media (min-width: 993px) {
      position: static;
      opacity: 1;
      visibility: visible;
    }

    &.active {
      top: 80px;
      left: 1%;
      opacity: 1;
      visibility: visible;
      z-index: 9;

      &.scrolled {
        top: 48px;
        opacity: 1;
        z-index: 20;
      }
    }
  }

  &__label {
    display: flex;
    align-items: flex-end;
  }

  &__input {
    order: 2;
    margin-left: 5px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  transition: all .5s ease 0s;
  background-color: #010101;
  opacity: 0;
  overflow: auto;
  z-index: 15;

  @media (min-width: 769px) {
    flex-direction: row;
  }

  @media (min-width: 993px) {
    flex: 0 1 40%;
    position: static;
    height: auto;
    transform: translateY(0);
    background-color: transparent;
    opacity: 1;
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
    list-style: none;

    @media (min-width: 769px) {
      flex: 0 1 50%;
      justify-content: flex-start;
    }

    @media (min-width: 993px) {
      flex: 0 1 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
    border: 1px solid #202025;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 133%;

    @media (min-width: 993px) {
      align-self: center;
      width: auto;
      padding: 0;
      border: none;
      font-size: 12px;
    }
  }

  &__item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #e1e2e2;

    @media (min-width: 993px) {
      display: block;
      color: #202025;
    }
  }

  &__item:not(:last-child):not(:nth-last-child(2)) a {
    @media (min-width: 993px) {
      position: relative;
      padding: 5px 8px;
      transition: all .4s ease 0s;
      border: 2px solid transparent;
      border-radius: 6px;
      overflow: hidden;

      &:hover {
        transition: border-color .4s ease-in-out;
        border-color: #202025;
      }

      &:hover::before {
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        transition: opacity .4s ease-in-out;
        border: 2px solid #202025;
        border-radius: 6px;
        content: '';
        opacity: 0;
      }

      &:hover::before {
        transition-delay: .2s;
        opacity: 1;
      }
    }
  }

  &__item:last-child svg {
    transition: fill 1.4s ease 0s;
  }

  &__item:last-child svg:hover {
    fill: linear-gradient(#686a6c, #f7fbfa);
    animation: fillAnimation 1.4s forwards;
  }

  @keyframes fillAnimation {
    0% {
      fill: #f7fbfa;
    }

    100% {
      fill: #686a6c;
    }
  }

  &__item a.activeLink {
    @media (min-width: 993px) {
      transition: all 1s ease 0s;
      border-color: #202025;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;

  @media (min-width: 769px) {
    flex: 0 1 50%;
    flex-direction: column;
    order: 0;
    background-color: #b9a9fb;
  }

  @media (min-width: 993px) {
    display: none;
  }

  &__title {
    display: none;

    @media (min-width: 769px) {
      display: block;
      align-self: flex-start;
      margin-top: 200px;
      padding: 0 24px;
      font-size: 48px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 48px;
      text-transform: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 24px;
    list-style: none;
    gap: 12px;
  }

  &__item {
    width: 33%;
    padding: 3% 7%;
    border-radius: 8px;
    background-color: #f7fbfa;

    @media (min-width: 769px) {
      width: 22%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

