.payment_form{
    &__btn {
        display: flex;
        gap:70px;
    }
    &__error {
        color:red;
    }
}
.form {
    &__input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .3rem;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    box-shadow: 0 5px 10px 8px rgba(0, 0, 0, .05);
    &::placeholder {
        color: #888;
      }
  
      &:focus {
        border-color: transparent;
        outline: 2px solid #202025;
      }
    }
}