@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: revert;
}

.footer {
  position: relative;
  background-color: rgb(247, 251, 250);
  font-family: 'Inter';

  &::after {
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 1px;
    background-color: #e1e2e2;
    content: '';

    @media (min-width: 769px) {
      bottom: 60px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 320px;
    max-width: 1470px;
    margin: 0 auto;
    padding: 40px 15px 20px;
    gap: 32px;

    @media (min-width: 769px) {
      flex-flow: row wrap;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 12px;

    @media (min-width: 769px) {
      flex: 0 1 44%;
      align-items: flex-start;
      align-self: flex-start;
      margin-left: 10px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 64px;
  }

  &__title {
    margin-left: 16px;
    color: #202025;
    font-size: 28px;
    font-weight: 800;
    line-height: 120%;
    text-decoration: none;
  }

  &__subtitle {
    color: #686a6c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 160%;
  }

  &__menu {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 24px;

    @media (min-width: 376px) {
      justify-content: flex-end;
    }

    @media (min-width: 769px) {
      flex: 0 1 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: #a6aead;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 142%;
    text-align: center;

    @media (min-width: 769px) {
      flex: 0 1 100%;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.info {
  display: flex;
  flex: 0 1 40%;
  flex-direction: column;
  gap: 18px;

  &__title {
    color: #202025;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 200%;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    gap: 12px;
  }

  &__item {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 142%;

    &:hover a {
      color: #202025;
      font-weight: 800;
    }
  }

  &__item a {
    transition: all .3s ease 0s;
    color: #686a6c;
  }

  &__item svg {
    display: none;
  }
}

.social {
  display: flex;
  flex: 0 1 35%;
  flex-direction: column;
  gap: 18px;

  &__title {
    color: #202025;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 200%;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 12px;
  }

  &__item {
    width: 100%;
    transition: all .4s ease 0s;

    &:hover span {
      color: #202025;
      font-weight: 800;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
  }

  &__link span {
    transition: all .4s ease 0s;
    color: #686a6c;
  }
}