.blog_home{
    width: 100%;
    height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.blogTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    // height: 200px;
    // width: 200px;
}

.blog_post {
    display: flex;
}

img {
    display: block;
}

.blog_infoAuthor {
    display: flex;
    align-content: center;
}

.blog_postIcon {
    display: flex;
    align-content: center;
    width: 90px;
}