* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

.blog {
    max-width: 1140px;
    margin: 0 auto;

    &__post {
        display: flex;
    }

    &__reverse {
        flex-direction: row-reverse;
    }

    &__postImgBlock {
        position: relative;
        overflow: hidden;
    }

    &__postImg {
        transition: filter 0.3s ease;
    }

    &__postImgBlock:hover img {
        filter: blur(12px);
    }

    &__btnImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 18px 36px;
        background-color: black;
        border-radius: 4px;
        border: none;
        color: #F7FBFA;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &__btnImg:hover {
        background-color: #F7FBFA;
        color: black;
        border: 1px solid black;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }

    &__infoAuthor {
        display: flex;
        align-content: center;
    }

    &__postIcon {
        display: flex;
        align-content: center;
    }

}