@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    // width: 100%;
}

.blog {
    max-width: 1600px;
    margin: 0 auto;

    &__mainImgContainer {
        position: relative;
        overflow: hidden;
    }

    &__mainImg {
        width: 100%;
        height: 528px;
        position: relative;
    }

    &__mainImg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__titleOverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #F7FBFA;
        z-index: 1;
    }

    &__titleOverlay h2 {
        font-size: 64px;
        font-family: Inter;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -1.28px;
        margin-bottom: 24px;
    }

    &__titleOverlay p {
        font-size: 32px;
        font-family: Inter;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: -0.64px;
    }

    &__post {
        display: flex;
    }

    &__reverse {
        flex-direction: row-reverse;
    }

    &__postImgBlock {
        position: relative;
        overflow: hidden;
        width: 50%;
    }

    &__postImg {
        transition: filter 0.3s ease;
    }

    &__postImgBlock:hover img {
        filter: blur(12px);
    }

    &__btnImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 18px 36px;
        background-color: #202025;
        border-radius: 4px;
        border: none;
        color: #F7FBFA;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &__btnImg:hover {
        background-color: #F7FBFA;
        color: #202025;
        border: 1px solid #202025;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }

    &__contentBlock {
        width: 50%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 80px;
    }

    &__linkCapturePost {
        text-decoration: none;
    }

    &__capturePost {
        font-family: 'Inter';
	    font-weight: bold;
	    font-size: 64px;
	    line-height: 64px;
	    color: #202025;
        padding-bottom: 32px;
    }

    &__infoAuthor {
        display: flex;
        align-content: center;
    }

    &__postIcon {
        display: flex;
        align-content: center;
    }

}