.user {
  background-color: #f7fbfa;
  font-family: "Inter", sans-serif;

  &__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__btnsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    margin: 1rem 0;
    padding: 1rem;
    transition: color .3s;
    border: 2px solid #202025;
    border-radius: 4px;
    background: transparent;
    color: #f7fbfa;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &::before {
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      background-color: #202025;
      content: '';
      z-index: -1;
    }

    &::after {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
      transition: all .3s;
      border-radius: 50%;
      background-color: #f7fbfa;
      content: '';
      z-index: -1;
    }

    &:hover {
      color: #202025;
    }

    &:hover {
      &::after {
        top: -50%;
        width: 200%;
        height: 200%;
      }
    }
  }

  &__orders {
    width: 100%;
  }
}

.orders {
  display: flex;
  flex-direction: column-reverse;

  &__title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 800;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(75, 75, 75, .8);
    box-shadow: -1px 1px 10px 10px rgba(0, 0, 0, .13);
    overflow: hidden;
    gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    color: #f7fbfa;
    gap: 1.5rem;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    max-width: 100%;
    gap: 1rem;

    &:not(:last-child)::after {
      position: absolute;
      bottom: -.75rem;
      left: 0;
      width: 100%;
      height: 1px;
      background: #202025;
      content: '';
    }

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 -1rem -1rem -1rem;
    padding: 1rem;
    background: #202025;
    color: #dbff73;
    gap: 10px;

    & > *:last-child {
      font-weight: 800;
    }

    @media (min-width: 768px) {
      flex: 0 0 150px;
      max-width: 150px;
      margin: -1rem -1rem -1rem 0;
    }
  }

  &__amount {
    display: flex;
    flex: 0 0 150px;
    flex-direction: column;
    gap: .5rem;
    order: 2;
  }

  &__quantity {
    font-size: .8rem;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-size: 1.1rem;
    font-weight: 700;
    gap: .5rem;

    & > *:last-child {
      font-size: 1.2rem;
      font-weight: 800;
    }

    @media (min-width: 768px) {
      order: initial;
    }
  }

  &__link {
    flex: 0 0 100px;
    order: 1;
    width: 100px;
    height: 100px;
    border-radius: 7%;
    overflow: hidden;

    &:hover > img {
      scale: 1.1;
    }

    @media (min-width: 768px) {
      order: initial;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    transition: .3s;
    object-fit: cover;
  }

  &__about {
    align-self: start;
    order: 3;
    max-width: 100%;

    & > *::first-letter {
      text-transform: uppercase;
    }

    @media (min-width: 768px) {
      order: initial;
    }
  }

  &__name {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 800;
  }

  &__details {
    font-size: .9rem;
  }
}