.user {
  height: 100%;
  padding: 1rem 0;
  background-color: #f7fbfa;
  font-family: "Inter", sans-serif;

  &__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    padding: 1rem;
    transition: color .3s;
    border: 2px solid #202025;
    border-radius: 4px;
    background: transparent;
    color: #f7fbfa;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &_mint {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      letter-spacing: 5px;
    }

    &::before {
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      background-color: #202025;
      content: '';
      z-index: -1;
    }

    &::after {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
      transition: all .3s;
      border-radius: 50%;
      background-color: #f7fbfa;
      content: '';
      z-index: -1;
    }

    &:hover {
      color: #202025;
    }

    &:hover {
      &::after {
        top: -50%;
        width: 200%;
        height: 200%;
      }
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
  }

  &__empty {
    padding: 3rem 0;
    text-align: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}