* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .15);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #202025;
}

html,
body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  // background-color: #f7fbfa;
  // overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main {
  flex: 1 0 auto;
}

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100%;
//   overflow: hidden;
// }
// footer {
//   margin-top: auto;
// }
