.container {
  margin-top: 10px;

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
  }

  .title {
    margin-left: 12px;
    color: #010101;
    font-size: 24px;
    font-weight: 900;
    line-height: 167%;
    text-decoration: none;
  }
}