.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 25vh 0;
  color: #f7fbfa;
  font-family: 'Inter', sans-serif;
  text-align: center;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000062 0%, #0000002f 100%);
    content: '';
    z-index: -1;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;

    @media (min-width: 992px) {
      font-size: 4rem;
      line-height: 6rem;
    }

    @media (min-width: 1440px) {
      font-size: 6rem;
      line-height: 12rem;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: -.4px;
    line-height: 2rem;

    @media (min-width: 1024px) {
      font-size: 2rem;
      letter-spacing: -.64px;
      line-height: 3rem;
    }
  }
}