// .promoSlider {
//   width: 100%;
//   height: 50vh;

//   &__slide {
//     width: 100%;
//     height: 100%;
//   }

//   &__slideImg {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

.promoThumbs {
  width: 100%;
  height: 50px;
  color: black;
}

